/* Error: The target selector was not found.
 * Use "@extend %cover !optional" to avoid this error.
 *    ,
 * 25 |   @extend %cover;
 *    |   ^^^^^^^^^^^^^^
 *    '
 *   E:\projek-learn\css\scss\frameWork.scss 25:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %cover !optional" to avoid this error.\a    \2577 \a 25 \2502    @extend %cover;\d\a    \2502    ^^^^^^^^^^^^^^\a    \2575 \a   E:\\projek-learn\\css\\scss\\frameWork.scss 25:3  root stylesheet';
}
