@charset "UTF-8";
/*
* ********** Border Radius ***********

* @include borderRadius(5px);
* 
* @include borderRadiusposition(5px, 5px, 5px, 5px);
* 
* @include bordercolor(#e8ae1a, #76cd9c, #a60b55, #333);
* 
* @include borderStyle(solid, dashed, double, none);
* 
* ************ transition ****************
* 
* @include transitionAll(all, 0.5s, linear);
* 
* @include transitions();
* 
* @include transitionTime(0.5s);
* 
* @include transition(0.5s);
* 
* @include transitionProperty(all);
* 
* ************ scale *************
* 
* @include scale(1.5, 1.5);
* 
* @include scaleX(1.5);
* 
* @include scaleY(1.5);
* 
* ************ rotate ***************
* 
* @include rotate(10deg);
*
* @include rotateY(10deg);
*
* @include rotateX(10deg);
*
* @include rotateZ(10deg);
* 
* *************** translate **************
*
* @include translate(10px, 10px);
*
* @include translateX(10px);
*
* @include translateY(10px);
*
* @include translateZ(10px);
* 
* *********** skew *********
*
* @include skew(0deg, 0deg);
*
* @include skewX(0deg);
*
* @include skewY(0deg);
* 
* *************** matrix ***********
*
* @include matrix( 1, 0, 0, 1, 0, 0 );
* 
* * $translateX, $translateY, $scaleX, $skewY, $skewX ,$scaleY
* 
* ******** Box shadow **************
*
* @include boxShadow(-1px, 0px, 10px, #000);
* 
* ************ hover ************
* 
* @include hover {};
* 
*  ************** ul *****************
* 
* @include reset-list;
* 
*  *** li ***
* 
* @include horizontal-list;
* 
* ************ media ************
* 
* @include xs-media{}
* 
* @include sm-media{}
* 
* @include sm-md-media{}
* 
* @include md-media{}
* 
* @include md-lg-media{}
*
* @include lg-media{}
* 
* 
* ************* overlay ************
* 
* @include overlay;
* 
* 
* ********** prefix ******************
* 
* @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
* 
* ************ opacity ****************
* 
* @include opacity(0.5);
* 
* 
* ************ flex center *********
* 
* @include flexCenter;
*  
*  ************ position Center ******************
*  
*  @include positionCenter;
*  
*  
* *********** clear fix  for float ************* 
*  
*  @include clearfix;
*  
*  
*  
*/
body {
  background: #999;
}

.parent {
  width: 100%;
  height: 200px;
  background-color: #eee;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.parent .child {
  width: 50%;
  height: 50%;
  background-color: #27ae60;
  text-align: center;
  line-height: 100px;
  color: #e8e8e8;
  font-size: 2em;
}
.parent .outSide {
  background-color: #333;
  color: #e8e8e8;
  width: 50%;
  height: 50%;
  text-align: center;
  line-height: 100px;
}

.Last {
  position: relative;
  background-color: #27ae60;
  opacity: 0;
}

.test-one,
.test-tow {
  background-color: #ccc;
  min-height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #333;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  border-width: 5px;
  border-style: solid;
  border-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .test-one,
.test-tow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .test-one,
.test-tow {
    display: grid;
  }
}

.test-one {
  border-color: #b8baba;
  margin-bottom: 20px;
  min-height: 300px;
}

.test-tow {
  background-color: #363636;
  color: #fafafa;
  direction: ltr;
}

.text-left {
  text-align: left !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.hr-style {
  height: 20px;
  margin: 20px auto;
  background-image: linear-gradient(to right, #2196f3 10%, #fff 10%, #fff 90%, #2196f3 90%, #2196f3 100%);
  width: 98%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hr-style-one {
  height: 50px;
  width: 98%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hr-style-one::before {
  content: "Explain || الشرح ";
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
  direction: ltr;
}

.hr-style-tow {
  height: 50px;
  width: 98%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hr-style-tow::before {
  content: "example || المثال ";
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
  direction: ltr;
}

.disc {
  color: #2196f3;
}

.explain {
  border-bottom: #ccc;
  border-right: #ccc;
  border-left: #ccc;
  border-top: #ccc;
  border-style: solid;
  min-width: 40%;
  max-width: 85%;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px px 7px #333;
  border-width: 20px;
  background: #333;
  color: #fff;
}

.ss {
  font-size: large;
}

#ulList ::marker {
  color: rgba(39, 143, 94, 0.501);
}

/*# sourceMappingURL=javascript.css.map */
