@charset "UTF-8";
/*
* ********** Border Radius ***********

* @include borderRadius(5px);
* 
* @include borderRadiusposition(5px, 5px, 5px, 5px);
* 
* @include bordercolor(#e8ae1a, #76cd9c, #a60b55, #333);
* 
* @include borderStyle(solid, dashed, double, none);
* 
* ************ transition ****************
* 
* @include transitionAll(all, 0.5s, linear);
* 
* @include transitions();
* 
* @include transitionTime(0.5s);
* 
* @include transition(0.5s);
* 
* @include transitionProperty(all);
* 
* ************ scale *************
* 
* @include scale(1.5, 1.5);
* 
* @include scaleX(1.5);
* 
* @include scaleY(1.5);
* 
* ************ rotate ***************
* 
* @include rotate(10deg);
*
* @include rotateY(10deg);
*
* @include rotateX(10deg);
*
* @include rotateZ(10deg);
* 
* *************** translate **************
*
* @include translate(10px, 10px);
*
* @include translateX(10px);
*
* @include translateY(10px);
*
* @include translateZ(10px);
* 
* *********** skew *********
*
* @include skew(0deg, 0deg);
*
* @include skewX(0deg);
*
* @include skewY(0deg);
* 
* *************** matrix ***********
*
* @include matrix( 1, 0, 0, 1, 0, 0 );
* 
* * $translateX, $translateY, $scaleX, $skewY, $skewX ,$scaleY
* 
* ******** Box shadow **************
*
* @include boxShadow(-1px, 0px, 10px, #000);
* 
* ************ hover ************
* 
* @include hover {};
* 
*  ************** ul *****************
* 
* @include reset-list;
* 
*  *** li ***
* 
* @include horizontal-list;
* 
* ************ media ************
* 
* @include xs-media{}
* 
* @include sm-media{}
* 
* @include sm-md-media{}
* 
* @include md-media{}
* 
* @include md-lg-media{}
*
* @include lg-media{}
* 
* 
* ************* overlay ************
* 
* @include overlay;
* 
* 
* ********** prefix ******************
* 
* @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
* 
* ************ opacity ****************
* 
* @include opacity(0.5);
* 
* 
* ************ flex center *********
* 
* @include flexCenter;
*  
*  ************ position Center ******************
*  
*  @include positionCenter;
*  
*  
* *********** clear fix  for float ************* 
*  
*  @include clearfix;
*  
*  
*  
*/
body {
  background: #999;
}

.parent,
.parent-element {
  width: 100%;
  height: 200px;
  background-color: #eee;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  opacity: 0;
}
.parent .child,
.parent .Element,
.parent-element .child,
.parent-element .Element {
  width: 50%;
  height: 50%;
  background-color: #27ae60;
  text-align: center;
  line-height: 100px;
  color: #e8e8e8;
  font-size: 2em;
}
.parent .outSide,
.parent .Element1,
.parent-element .outSide,
.parent-element .Element1 {
  background-color: #333;
  color: #e8e8e8;
  width: 50%;
  height: 50%;
  text-align: center;
  line-height: 100px;
}

.Last {
  position: relative;
  background-color: #27ae60;
  opacity: 0;
}

.test-one,
.test-tow {
  background-color: #ccc;
  min-height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #333;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  border-width: 5px;
  border-style: solid;
  border-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .test-one,
.test-tow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .test-one,
.test-tow {
    display: grid;
  }
}

.test-one {
  border-color: #b8baba;
  margin-bottom: 20px;
  min-height: 300px;
}

.test-tow {
  background-color: #363636;
  color: #fafafa;
  direction: ltr;
}

.text-left {
  text-align: left !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.hr-style {
  height: 20px;
  margin: 20px auto;
  background-image: linear-gradient(to right, #2196f3 10%, #fff 10%, #fff 90%, #2196f3 90%, #2196f3 100%);
  width: 98%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hr-style-one {
  height: 40px;
  width: 98%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hr-style-one::before {
  content: "Explain || الشرح ";
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
  direction: ltr;
}

.hr-style-tow {
  height: 40px;
  width: 98%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hr-style-tow::before {
  content: "example || المثال ";
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
  direction: ltr;
}

.hr-style-three {
  height: 40px;
  width: 98%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hr-style-three::before {
  content: "App || التطبيق  ";
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
  direction: ltr;
}

.disc {
  color: #2196f3;
}

.explain {
  border-bottom: #ccc;
  border-right: #ccc;
  border-left: #ccc;
  border-top: #ccc;
  border-style: solid;
  min-width: 40%;
  max-width: 85%;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px px 7px #333;
  border-width: 20px;
  background: #333;
  color: #fff;
}

.ss {
  font-size: large;
}

#ulList ::marker {
  color: rgba(39, 143, 94, 0.501);
}

button {
  width: fit-content !important;
  margin: 20px auto !important;
  display: block;
}

.btn-info {
  width: fit-content !important;
  margin: 20px auto !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.parent-disc-code {
  padding: 0;
  position: relative;
  width: 100%;
}
.parent-disc-code pre.pre-language-html {
  position: relative;
  padding: 40px 20px 20px 20px;
  direction: ltr;
  background: #2d2d2d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parent-disc-code pre.pre-language-html::before {
  content: "HTML";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #16a085;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 3px;
}
.parent-disc-code pre.pre-language-html code.code-language-html {
  direction: ltr;
  color: #ccc;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  text-transform: none;
  font-size: 16px;
}
.parent-disc-code pre.pre-language-html code.code-language-html .comment {
  color: #999;
}
.parent-disc-code pre.pre-language-html code.code-language-html .token,
.parent-disc-code pre.pre-language-html code.code-language-html .equal,
.parent-disc-code pre.pre-language-html code.code-language-html .punctuation {
  color: #ccc;
}
.parent-disc-code pre.pre-language-html code.code-language-html .tag,
.parent-disc-code pre.pre-language-html code.code-language-html .attr-name {
  color: #e2777a;
}
.parent-disc-code pre.pre-language-html code.code-language-html .attr-value,
.parent-disc-code pre.pre-language-html code.code-language-html .token.string,
.parent-disc-code pre.pre-language-html code.code-language-html .token.char,
.parent-disc-code pre.pre-language-html code.code-language-html .token.regex,
.parent-disc-code pre.pre-language-html code.code-language-html .token.variable {
  color: #7ec699;
}
.parent-disc-code p {
  margin: 0;
  padding: 0;
}

.fdg {
  color: #000;
}

.parent-disc-code {
  padding: 0;
  position: relative;
  width: 100%;
}
.parent-disc-code pre.pre-language-css {
  position: relative;
  padding: 40px 20px 20px 20px;
  direction: ltr;
  background: #2d2d2d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parent-disc-code pre.pre-language-css::before {
  content: "CSS & SCSS";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f83c23;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 3px;
}
.parent-disc-code pre.pre-language-css code.code-language-css {
  direction: ltr;
  color: #ccc;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  text-transform: none;
  font-size: 16px;
}
.parent-disc-code pre.pre-language-css code.code-language-css .comment {
  color: #9e9e9e;
}
.parent-disc-code pre.pre-language-css code.code-language-css .element {
  color: #7ec699;
}
.parent-disc-code pre.pre-language-css code.code-language-css .token {
  color: #ccc;
}
.parent-disc-code pre.pre-language-css code.code-language-css .property {
  color: #00bcd4;
}
.parent-disc-code pre.pre-language-css code.code-language-css .value {
  color: #c5b100;
}
.parent-disc-code p {
  margin: 0;
  padding: 0;
}

.parent-disc-code {
  padding: 0;
  position: relative;
  width: 100%;
}
.parent-disc-code pre.pre-language-javascript {
  position: relative;
  padding: 40px 20px 20px 20px;
  direction: ltr;
  background: #2d2d2d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parent-disc-code pre.pre-language-javascript::before {
  content: "Javascript";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #c5b100;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 3px;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript {
  direction: ltr;
  color: #ccc;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  text-transform: none;
  font-size: 16px;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .comment {
  color: #a4a4a4;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .var {
  color: #2196f3;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .var-name {
  color: #5fb7ff;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .equal {
  color: #ccc;
  font-weight: bold;
  font-size: 1.1em;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .document {
  color: #5fb7ff;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .getElement {
  color: #c5b100;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .token {
  color: #ccc;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .element {
  color: #7ec699;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .jquery {
  color: #2196f3;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .on {
  color: #2196f3;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .event {
  color: #c5b100;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .childElement {
  color: #c5b100;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .function {
  color: #2196f3;
}
.parent-disc-code pre.pre-language-javascript code.code-language-javascript .effect {
  color: #c5b100;
}
.parent-disc-code p {
  margin: 0;
  padding: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.disc-btn {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.display-none {
  display: none;
}

.top10 {
  top: -33%;
}

.close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6e6e6e;
  z-index: 5000;
  position: fixed;
  top: 0px;
  color: #00bcd4;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
}

.app__textarea {
  height: 50vh;
  white-space: break-spaces;
}

/*# sourceMappingURL=javascript.css.map */
