/* Error: Undefined mixin.
 *     ,
 * 368 | /             @include grid-left(1,
 * 369 | |             2%);
 *     | '---------------^
 *     '
 *   E:\projek-learn\projek-learn-html-css-scss-jquery-js-bootstrap-github-vuejs\css\scss\projectCss2021.scss 368:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 368 \2502  \250c              @include grid-left(1,\a 369 \2502  \2502              2%);\a     \2502  \2514 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^\a     \2575 \a   E:\\projek-learn\\projek-learn-html-css-scss-jquery-js-bootstrap-github-vuejs\\css\\scss\\projectCss2021.scss 368:13  root stylesheet";
}
