/* Error: $blue: Expected 0%^-1 to have no units or "%".
 *     ,
 * 147 |     background-color: rgb(0, 0, 0 / 50%);
 *     |                       ^^^^^^^^^^^^^^^^^^
 *     '
 *   E:\projek-learn\projek-learn-html-css-scss-jquery-js-bootstrap-github-vuejs\css\scss\template-tow.scss 147:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $blue: Expected 0%^-1 to have no units or "%".\a     \2577 \a 147 \2502      background-color: rgb(0, 0, 0 / 50%);\d\a     \2502                        ^^^^^^^^^^^^^^^^^^\a     \2575 \a   E:\\projek-learn\\projek-learn-html-css-scss-jquery-js-bootstrap-github-vuejs\\css\\scss\\template-tow.scss 147:23  root stylesheet';
}
