doctype
html(lang="en")
  head 
    //- SUPPORTS ALL LANGUAGES
    meta(charset='utf-8')

    //- Website Description
    meta(name="description" content=" Website Description ")

    //- copyright for website
    meta(name="copyright" content=" Company Name")

    //- Search engines for what you want, you can specify the pages you want to do the indexing
    meta(name="robots" content="index, follow")

    //- website last update
    meta(name="revised" content="Tuesday, July 20th, 2021, 10:15 am")

    //- to process IE versions
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(http-equiv="X-UA-Compatible" content="IE=7")

    //- set the viewport width and initial-scale on mobile devices
    meta(name="viewport",
    content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Information of the Website
    meta(name="keywords" content="Information of the Website")

    //- Author a Website
    meta(name="author" content="Hossam Rashad")

    //- refresh the page after time and go to anther page if you want
    //- meta(http-equiv="refresh" content="10; url=https://atom.io/packages/language-pug")
    meta(http-equiv="refresh" content="300")
    
    //- favicon
    link(rel="shortcut icon" href="images/logo/favicon.jpg" type="image/x-icon")
    link(rel="apple-touch-icon" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="152x152" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="167x167" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/logo/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon-precomposed" href="images/logo/apple-touch-icon.png" type="image/x-icon")

    //- animate
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/animate/v-3.7.1/animate.min.css")

    //- font-awesome 5.15.3
    link(rel="stylesheet", href="https://hossamrashad.github.io/libraries/css/font-awesome/css/all.min.css")

    //- bootstrap 5.0.1 en
    //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
    //- bootstrap 5.0.1 ar
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.rtl.min.css")

    //- owl
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/owl/owl.theme.default.min.css")
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/owl/owl.carousel.min.css")

    //- magnific
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/magnific/magnific-popup.css")

    //- Show-And-Hide-box
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/Show-And-Hide-box/jquery.expandable.css")

    //- hover for button
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/hover/hover.css")

    //- Nivo slider
    link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/nivo-slider/nivo-slider.css")
    
    style ul{list-style: none;} li{display: block; margin: 20px ;} a{display: block; margin: 20px ; background-color: #e8e3e3; text-align: center; padding: 10px; border: 2px solid #333;}
    

  body

    ul 
      li 
        a(href="html-2021.html") html
        a(href="pugjs-homePage.html") pugjs
        a(href="css-2021.html") css
        a(href="scss.html") scss
        a(href="javascript-global.html") javascript global
        a(href="javascript.html") javascript
        a(href="javascript-bom.html") javascript bom
        a(href="javascript-dom.html") javascript Dom
        a(href="jquery.html") jquery
        a(href="vuejs.html") vuejs
        a(href="template-one-2021.html") template one 2021
        a(href="template-tow-2021.html") template tow 2021