doctype
html(lang="ar" dir="rtl")
  head 
    include pugjs/head/head.pug
    block PageTitle
      title Explain Javascript
  
  body 
    //- Start body
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left explain", id="Test") 
            ul(id="myList")

    div(class="hr-style")
    div(class="explain")   انشاء عنصر | اضافة العنصر | انشاء تاكست | تغير الالتربيوت 

    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="") انشاء عنصر 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") var Element = document.<span class="disc">createElement</span>("div") ;

    //- CreateElement
    div(class="hr-style")
    //- AppendChild
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  اضافة العنصر فى المكان اللى انت عاوزة  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") var Element = document.body.<span class="disc">appendChild</span>(child) ;

    div(class="hr-style")
    //- createTextNode
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")   انشاء تاكست او تغير التكاست موجود 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") var Element = document.<span class="disc">createTextNode</span>(" Your Text ") ;
            
    div(class="hr-style")
    //- SetAttribute
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  تغير الالتربيوت او انشاء لو مش موجود
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") var Element = Element.<span class="disc">setAttribute</span>('class', 'ClassName') ;
            
    
    div(class="hr-style")
    div(class="explain")  اختيار العنصار
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  اختيار العنصر & اسم الايدى للعنصر 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") document.<span class="disc">getElementById</span>("Id Name");

    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  اختيار العنصر بى التاج اللى هو ان كان داف او برجراف او هيدار 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") document.<span class="disc">getElementsByTagName</span>('div')[0];

    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  اختيار العنصر من خلال الكلاس و ممكن تختار كمان انهو عنصر اللى هجيبو لانو الاكسلسات ممكن تكون على اكتار من عنصر و هو غير مدعم فى الانترنات اكسبلورال 8 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") document.<span class="disc">getElementsByClassName</span>('elementClass')[0];
    
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="") اختيار العنصر ان كان معرفة بى الكلاس او الايدى غير مدعم فى انتارنت اكسبلورال 8  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") document.<span class="disc">querySelectorAll</span>('div.class & div#id')[0];
    
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="") اختيار العنصر ان كان معرفة بى الكلاس او الايدى 
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") document.querySelector("#ElementName");
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    div(class="hr-style")
    div(class="container")
      div(class="row")
        div(class="col-sm-4")
          div(class="test-one", id="")  
        div(class="col-sm-8")
          div(class="test-tow text-left", id="") 
            <span class="float-right">;</span>
    

    //- start script
    include pugjs/script/script.pug
    script(src="js/javascript-global.js") 
    //- End script
    //- End body