doctype
html(lang="ar" dir="rtl")
  head 
    include pugjs/head/head.pug
    link(rel="stylesheet", href="css/javascript.css")

    block PageTitle
      title Explain Javascript

  body 
    //- Start body
    div(class="parent fixed-top")   
      div(class="child")  
      div(class="outSide")

    div(class="container")
      div(class="row bg" )
        div(class="col-sm-12")
          div(class="test-tow text-left hossam" id="Test" data-name="data name" data-codings="data coding") Rovan
            ul(id="ulList")
              li Rovan
              li Hossam
              li Rashad

        div(class="col-sm-6")
          div(class="test-one" id="TestOne")  
        div(class="col-sm-6")
          div(class="test-one" id="TestTow")  

    include pugjs/explain/javascript-dom.pug

    //- start script
    include pugjs/script/script.pug
    script(src="js/javascript-global.js") 
    //- End script
    //- End body