doctype
html(lang="en")
  head 
    link(rel="shortcut icon" href="images/logo/favicon.jpg" type="image/x-icon")
    block pageTitle       
      title Learn Jquery
    link(rel="stylesheet" href="css/bootstrap.css")
    style body{height: 20000px} .width-100{width:100%} .style-test{border: 2px solid #333; border-radius:10px;padding:20px; background-color: #BB2D3B; color: #fafafa} .root-test{background-color: #111; color: #fff} .padding{color: #3498db; padding: 20px} .display-none{display: none}
  body
    div(class="container")
      .row 
        .col-sm-6 
          button(class="btn btn-info video-3-btn-1") Events click  
          p(class="video-3-p-1 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          button(class="btn btn-info video-3-btn-2") Events click  
          p(class="video-3-p-2 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-3-btn-3") Events dblclick  
          p(class="video-3-p-3 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-3-btn-4") Events mouseenter  
          p(class="video-3-p-4 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-3-btn-5") Events mouseleave  
          p(class="video-3-p-5 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-3-btn-6") Events hover  
          p(class="video-3-p-6 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr(class="hr-style")
        h3(class="h2 text-center mb-5") video 4 Effects
        .col-sm-6
          button(class="btn btn-info video-4-btn-1") Effects Hide  
          p(class="video-4-p-1 lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-4-btn-2") Effects Show  
          p(class="video-4-p-2 d-none lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-4-btn-3") Effects Toggle  
          p(class="video-4-p-3  lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        h3(class="h3 text-center mb-5") video 5 Effects || fadeIn , fadeOut , fadeToggle , fadeTo
        .col-sm-6
          button(class="btn btn-info video-5-btn-1") Effects fade In  
          p(class="video-5-p-1  lead" id="video-5-p-1") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-5-btn-2") Effects fade Out 
          p(class="video-5-p-2  lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-5-btn-3") Effects fade toggle  
          p(class="video-5-p-3  lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-5-btn-4") Effects fade to  
          p(class="video-5-p-4  lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        h3(class="h3 text-center mb-5") video 6 Effects || slideDown , slideUp , slideToggle 
        .col-sm-6
          button(class="btn btn-info video-6-btn-1") Effects slideDown  
          p(class="video-6-p-1  lead" id="video-6-p-1") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-6-btn-2") Effects slideUp
          p(class="video-6-p-2  lead" id="video-6-p-2") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-6
          button(class="btn btn-info video-6-btn-3") Effects slideToggle
          p(class="video-6-p-3  lead" id="video-6-p-3") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        .col-sm-6
          button(class="btn btn-info video-7-btn-1") Effects Animate
          p(class="video-7-p-1  lead" id="video-7-p-1") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        h3(class="h3 text-center mb-5") video 10 Get || set
        .col-sm-6
          p(class="video-10-p-1  lead" id="video-10-p-1") Lorem  <b>sed</b> do eiusmod tempor 
          button(class="btn btn-info video-10-btn-1 d-block") Get & Set value 
          br
          input(type="text" name="" value="" id="video-10-input-1" class="video-10-input-1")
          br
          br
          a(href="http://www.googgle.com" class="btn btn-danger video-10-a-1" target="_blank") Link Google 
          br
          br
          button(class="btn btn-info video-10-btn-2 d-block ") Get Attr
          br
          input(type="text" name="" value="" id="video-10-input-2" class="video-10-input-2 width-100")
          br
          br
          button(class="btn btn-info video-10-btn-3 d-block ") Set Attr
          br
          a(href="http://www.googgle.com" class="btn btn-danger video-10-a-2" target="_blank") Link Google 
        .col-sm-6 
          div(class="video-10-p-2" id="video-10-p-2")
          div(class="video-10-p-3" id="video-10-p-3")
          div(class="video-10-p-4" id="video-10-p-4")
          div(class="video-10-p-5" id="video-10-p-5")
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 11 Add Element || append , prepend , before , after, appendTo, prependTo
        .col-sm-6 
          div(class="video-11-div-1" id="video-11-div-1") 
            h3(class="h2") Element
        hr
        h3(class="h3 text-center mb-5") video 12 Remove Element || remove , empty
        .col-sm-6 
          button(class="btn btn-info video-12-btn-1" id="video-12-btn-1") click Remove
          div(class="video-12-div-1" id="video-12-div-1") 
            h3(class="h2") Element Remove
        .col-sm-6 
          button(class="btn btn-info video-12-btn-2" id="video-12-btn-2") click 
          div(class="video-12-div-2" id="video-12-div-2") 
            h3(class="h2") Element Empty
          button(class="btn btn-info video-12-btn-3" id="video-12-btn-3") click filter
          div(class="video-12-div-3" id="video-12-div-3") 
            h3(class="h2") Element Empty
            h3(class="h2") Element 
            h3(class="h2") Empty
            h3(class="h2") Element Empty
            h3(class="h2") ElementE
        hr
        h3(class="h3 text-center mb-5") video 13 Css Class
        .col-sm-6 
          button(class="btn btn-info video-13-btn-1" id="video-13-btn-1") click Add Class
          div(class="video-13-div-1" id="video-13-div-1") 
            h3(class="h2") Element Add Class
            h3(class="h3") Element Add Class
        .col-sm-6 
          button(class="btn btn-info video-13-btn-2" id="video-13-btn-2") click Remove Class
          div(class="video-13-div-2" id="video-13-div-2") 
            h3(class="h2 style-test") Element Remove Class
            h3(class="h3") Element Remove Class
        .col-sm-6 
          button(class="btn btn-info video-13-btn-3" id="video-13-btn-3") click filter 
          div(class="video-13-div-3" id="video-13-div-3")
            h3(class="h3") Element Class filter first
            h3(class="h3") Element Class filter
            h3(class="h3") Element Class 
            h3(class="h3") Element Class find word
            h3(class="h3") Element Class 
            h3(class="h3") Element Class filter eq
            h3(class="h3") Element Class 
            h3(class="h3") Element Class filter last
        .col-sm-6 
          button(class="btn btn-info video-13-btn-4" id="video-13-btn-4") click Toggle Class 
          div(class="video-13-div-4" id="video-13-div-4")
            h3(class="h3 style-test") Element Class filter first
            h3(class="h3 style-test") Element Class filter
            h3(class="h3 style-test") Element Class 
            h3(class="h3 style-test") Element Class find word
            h3(class="h3") Element Class 
            h3(class="h3") Element Class filter eq
            h3(class="h3") Element Class 
            h3(class="h3") Element Class filter last
        hr
        h3(class="h3 text-center mb-5") video 14 Css Get & Set
        .col-sm-6 
          button(class="btn btn-danger video-14-btn-1" id="video-14-btn-1") get css attr 
          p(class="lead style-test pt-5 pb-5 mb-2 mt-5 video-14-div-1") Rovan Hossam Rashad
          input(type="text" name="" id="video-14-input-1" class="video-14-input-1" placeholder="get color ")
        .col-sm-6 
          button(class="btn btn-danger video-14-btn-2" id="video-14-btn-2") set css attr 
          p(class="lead style-test pt-5 pb-5 mb-2 mt-5 video-14-div-2") Rovan Hossam Rashad
          input(type="text" name="" id="video-14-input-2" class="video-14-input-2" placeholder="set background color ")
        br 
        hr
        br
        h3(class="h3 text-center mb-5") video 15 Dimensions width & height
        //- .col-sm-6 
        div(class="video-15-div-1") 
        |
        br
        |
        <br>
        div(class="video-15-div-2") Element + width
        div(class="video-15-div-3")
        //- .col-sm-6 
        div(class="video-15-div-4") Element + width
        div(class="video-15-div-5") 
        div(class="video-15-div-6") Element + width
        div(class="video-15-div-7") 
        br
        hr
        h3(class="h3 text-center mb-5") video 16 traversing parent & parents & parentsUntil
        .col-sm-6 
          .video-16-parent-one 
            .video-16-parent-tow 
              .video-16-parent-three 
                .video-16-parent-four 
                  .video-16-child Parent
        .col-sm-6 
          .video-16-parent-one 
            .video-16-parent-tow 
              .video-16-parent-three 
                .video-16-parent-four 
                  .video-16-child-tow Parents
        br
        br
        br
        hr
        .col-sm-6 
          .video-16-parent-one 
            .video-16-parent-tow 
              .video-16-parent-three 
                .video-16-parent-four 
                  .video-16-child-three parentsUntil
        hr
        h3(class="h3 text-center mb-5") video 17 traversing children & find 
        .col-sm-6 
          .video-17-parent-one parent one
            .video-17-parent-tow parent tow
              .video-17-parent-three parent three
                .video-17-parent-four parent four
                  .video-17-child children
        .col-sm-6 
          .video-17-parent-one 
            .video-17-parent-tow-find 
              .video-17-parent-three 
                .video-17-parent-four 
                  .video-17-child-tow find
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 18 traversing siblings & next & prev
        .col-sm-6 
          section(class="video-18-section")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three siblings 
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        .col-sm-6 
          section(class="video-18-section-tow")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three next 
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        br
        br
        br
        hr
        .col-sm-6 
          section(class="video-18-section-three")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three prev 
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        .col-sm-6 
          section(class="video-18-section-four")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three Next All 
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        br
        br
        br
        hr
        .col-sm-6 
          section(class="video-18-section-five")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three prev All 
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        .col-sm-6 
          section(class="video-18-section-sex")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three next Until  
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        .col-sm-6 
          section(class="video-18-section-seven")
            .video-18-parent-one parent one
            .video-18-parent-tow parent tow
            .video-18-parent-three prev Until  
            .video-18-parent-four parent four
            p(class="video-18-child") children 
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 19 traversing first & last & aq & Filter & not
        .col-sm-6 
          section(class="video-19-section-one")
            .video-19-parent-one first eq ( 0 ) 1
            .video-19-parent-tow eq ( 1 ) 2
            .video-19-parent-three eq ( 2 ) 3  
            .video-19-parent-four eq ( 3 ) 4  
            .video-19-parent-five eq ( 4 ) 5  
            .video-19-parent-sex eq ( 5 ) 6  
            .video-19-parent-seven eq ( 6 ) 7  
            .video-19-parent-eight eq ( 7 ) 8  
            .video-19-parent-nine eq ( 8 ) 9  
            .video-19-parent-ten eq ( 9 ) 10  
            .video-19-parent-eleven eq ( 10 ) 11  
            .video-19-parent-twelve eq ( 11 ) 12  
            .video-19-parent-thirteen eq ( 12 ) 13  
            .video-19-parent-fourteen eq ( 13 ) 14  
            .video-19-parent-four last parent four
        .col-sm-6 
          section(class="video-19-section-tow")
            .video-19-parent-one first eq ( 0 ) 1
            .video-19-parent-tow eq ( 1 ) 2
            .video-19-parent-three eq ( 2 ) 3  
            .video-19-parent-four eq ( 3 ) 4  
            .video-19-parent-five eq ( 4 ) 5  
            .video-19-parent-sex eq ( 5 ) 6  not
            .video-19-parent-seven eq ( 6 ) 7  
            .video-19-parent-eight eq ( 7 ) 8  
            .video-19-parent-nine eq ( 8 ) 9  
            .video-19-parent-ten eq ( 9 ) 10  
            .video-19-parent-eleven eq ( 10 ) 11  
            .video-19-parent-twelve eq ( 11 ) 12  
            .video-19-parent-thirteen eq ( 12 ) 13  
            .video-19-parent-fourteen eq ( 13 ) 14  
            .video-19-parent-four last parent four
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 20 reference * & Element & Element.ClassName & Element.IdName & Element:first & Element:last & Element:even & Element:odd
        .col-sm-4 
          .video-20-div-1 
            p.lead rovan hossam *
            p.lead rovan hossam *
            p.lead rovan hossam *
        .col-sm-4 
          .video-20-div-2 
            p.lead rovan hossam p
            p.lead rovan hossam p
            p.lead rovan hossam p
        .col-sm-4 
          .video-20-div-3 
            p.lead rovan hossam
            p(class="lead className") className rovan hossam
            p.lead rovan hossam
        .col-sm-4 
          .video-20-div-4
            p.lead rovan hossam
            p(class="lead" id="idName") idName rovan hossam
            p.lead rovan hossam
        .col-sm-4 
          .video-20-div-5 
            p.lead first rovan hossam
            p.lead rovan hossam
            p.lead last rovan hossam
        .col-sm-4 
          .video-20-div-6 
            p.lead even rovan hossam
            p.lead rovan hossam
            p.lead even rovan hossam
        .col-sm-4 
          .video-20-div-7 
            p.lead rovan hossam
            p.lead odd rovan hossam
            p.lead rovan hossam
            p.lead odd rovan hossam
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 21 reference first-child & last-child & first-of-Type & last-of-Type & nth-child(3) & nth-last-child(2) & nth-of-type(3) & nth-last-of-type(3) 
        .col-sm-3 
          div(class="video-21-parent-one  text-sm-start")
            p(lang="en") first child in parent div
            div.parent 
              p(lang="en") first child div
              p(lang="en") second  div
              p(lang="en")  last child div
            p(lang="en") last child in parent div
        .col-sm-3  
          div(class="video-21-parent-tow  text-sm-start")
            div(lang="en") first div child in parent div
            p(lang="en") first p child in parent div
            div.parent 
              div(lang="en")  first div child div
              p(lang="en") first p child div
              p(lang="en") second  div
              p(lang="en")  last p child div
              div(lang="en")  last div child div
            p(lang="en") last child in parent div 
        .col-sm-3  
          div(class="video-21-parent-three  text-sm-start")
            div(lang="en") first div child in parent div
            p(lang="en") first p child in parent div
            div.parent 
              div(lang="en")  first div child div
              p(lang="en") first p child div
              p(lang="en") second  div
              p(lang="en")  last p child div
              div(lang="en")  last div child div
            p(lang="en") last p child in parent div
        .col-sm-3  
          div(class="video-21-parent-four  text-sm-start")
            div(lang="en") first div child in parent div
            p(lang="en") first p child in parent div
            div.parent 
              div(lang="en")  first div child div
              p(lang="en") first p child div
              p(lang="en") second  div
              p(lang="en")  last p child div
              div(lang="en")  last div child div
            p(lang="en") last p child in parent div
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 22 reference only-child & only-of-type & > & + & ~ & gt(1) & lt(1) & not() 
        .col-sm-3 
          .video-22-container 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
            div.div-in-div-container 
              p p is only child
            div.div-in-div-container-one 
              p p is only child
              span span is only of type
              p p is only child
        .col-sm-3 
          .video-22-container 
            p Lorem ipsum dolor sit amet 
            div.div-in-div-container-three 
              p p is only direct child
            div.div-in-div-container-four 
              p p is only direct child
              span span is only of type
              p p is only child
        .col-sm-3 
          .video-22-container-five 
            div Lorem ipsum dolor sit amet 
            p p is only child
            p p is only child
            p p is only child
        .col-sm-3 
          .video-22-container-sex 
            div Lorem ipsum dolor sit amet 
            p p is only child
            p p is only child
            p p is only child 6
            p p is only child
            p p is only child
            p p is only child
        .col-sm-3 
          .video-22-container-seven 
            div Lorem ipsum dolor sit amet 
            p p is only child
            p p is only child
            p p is only child 6
            p p is only child
            p p is only child
            p p is only child
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 23 reference header & animated & focus & has & empty & parent & hidden & visible & root = html & lang
        .col-sm-3 
          .video-23-parent-one 
            h1 header h1
            div this is div
            h2 header h2
            h3 header h3
            div this is div
            h4 header h4
        .col-sm-3 
          .video-23-parent-tow 
            h1 header h1
            div this is div
            h2 header h2
            h3 header h3
            div this is div
            h4 header h4
        .col-sm-3 
          .video-23-parent-three 
            //- input(type="text" name="video32input") 
        .col-sm-3 
          div(class="video-23-four text-sm-end") 
            div roven
            div hossam
            div rashad
        .col-sm-3 
          .video-23-parent-five 
            div 
              p p of one div
            div  
              span span of one div
            div  
              div(class="test-video-23") div of one div
        .col-sm-6 
          button(class="video-23-btn-sex") click 
          div(class="video-23-visible") visible
          div(class="video-23-hidden") hidden
          button(class="video-23-btn-sex-2") click  root
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 24 traversing attr & href & title & src & alt
        .col-sm-4
          <img src="//via.placeholder.com/300x300/333" alt="image 1" class="img-fluid" title="image 1" >
          p(lang="en" class="lead") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="ar" class="lead") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="en" class="lead" title="المساحة،") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
        .col-sm-4
          <img src="//via.placeholder.com/300x300/333" alt="image 2" class="img-fluid" title="image 2">
          p(lang="en" class="lead") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="ar" class="lead" title="الن") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="en" class="lead" title="النص") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
        .col-sm-4
          <img src="//via.placeholder.com/300x300/333" alt="image 3" class="img-fluid" title="image 3">
          p(lang="en" class="lead" title="يمكن") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="ar" class="lead" title=" مثال لنص يمكن") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
          p(lang="en" class="lead" title="هو مثال لنص يمكن") هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 25 traversing text & checked & enabled & disabled & password
        .video-25-parent 
          input(type="checkbox" name="" checked)
          input(type="checkbox" name="")
          input(type="radio" name="")
          input(type="email" name="" enabled)
          input(type="file" name="")
          input(type="image" src="http://placehold.it/60x60" alt="")
          input(type="password" name="" disabled)
          input(type="submit" value="send")
          input(type="text" name="")
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 26 Event bind
        .col-sm-4 
          .video-26-div-one 
            div.one this is div one 
          .video-26-div-tow  
            div.one this is div tow 
        .col-sm-4 
          .video-26-div-three
            div.one this is div three
          br 
          button(class="btn-video-26") click  custom
          br
          hr
          input(type="text" name="input-custom-video-26" value="")
          div(class="custom-event-video26-2") this is div four
          button(class="btn-video-26-2") click  custom div four
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 27 Event live
        .col-sm-4 
          div(class="parent-div-video-27")
            button(class="btn-video-27-1") click to add p
        .col-sm-6
          div(class="input-file")
            input(type="file" name="") 
            span +
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 28 Event 
        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 29 Event  on 
        .col-sm-4 
          .video-29-div-1 
            div single multi on this is div 1
        .col-sm-4
          .video-29-div-2 
            div custom on this is div 2
        .col-sm-4
          .video-29-div-3 
            div map on this is div 3
        .col-sm-4
          .video-29-div-4 
            div map on this is div 4
        .col-sm-6
          div(class="input-file-29")
            input(type="file" name="") 
            span +

        br
        br
        br
        hr
        h3(class="h3 text-center mb-5") video 30 Event  PreventDefault() 
        .col-sm-4 
          .video-30-div-1 
            |
            a(href="http://www.google.com", target="_blank" onclick="return false") link return false
            |
            |
            br
            |
            |
            a(href="http://www.google.com", target="_blank" class="lank301") Google link
            img(src="http://placehold.it/300x300/333" alt="" class="img-fluid display-none")
            div(class="video-30-test")


    script(src="js/jquery-3-6-0.min.js") 
    script(src="js/popper-1.14.7.min.js") 
    script(src="js/bootstrap.js")  
    script(src="js/learn-jquery.js") 