/*
* ********** Border Radius ***********

* @include borderRadius(5px);
* 
* @include borderRadiusposition(5px, 5px, 5px, 5px);
* 
* @include bordercolor(#e8ae1a, #76cd9c, #a60b55, #333);
* 
* @include borderStyle(solid, dashed, double, none);
* 
* ************ transition ****************
* 
* @include transitionAll(all, 0.5s, linear);
* 
* @include transitions();
* 
* @include transitionTime(0.5s);
* 
* @include transition(0.5s);
* 
* @include transitionProperty(all);
* 
* ************ scale *************
* 
* @include scale(1.5, 1.5);
* 
* @include scaleX(1.5);
* 
* @include scaleY(1.5);
* 
* ************ rotate ***************
* 
* @include rotate(10deg);
*
* @include rotateY(10deg);
*
* @include rotateX(10deg);
*
* @include rotateZ(10deg);
* 
* *************** translate **************
*
* @include translate(10px, 10px);
*
* @include translateX(10px);
*
* @include translateY(10px);
*
* @include translateZ(10px);
* 
* *********** skew *********
*
* @include skew(0deg, 0deg);
*
* @include skewX(0deg);
*
* @include skewY(0deg);
* 
* *************** matrix ***********
*
* @include matrix( 1, 0, 0, 1, 0, 0 );
* 
* * $translateX, $translateY, $scaleX, $skewY, $skewX ,$scaleY
* 
* ******** Box shadow **************
*
* @include boxShadow(-1px, 0px, 10px, #000);
* 
* ************ hover ************
* 
* @include hover {};
* 
*  ************** ul *****************
* 
* @include reset-list;
* 
*  *** li ***
* 
* @include horizontal-list;
* 
* ************ media ************
* 
* @include xs-media{}
* 
* @include sm-media{}
* 
* @include sm-md-media{}
* 
* @include md-media{}
* 
* @include md-lg-media{}
*
* @include lg-media{}
* 
* 
* ************* overlay ************
* 
* @include overlay;
* 
* 
* ********** prefix ******************
* 
* @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
* 
* ************ opacity ****************
* 
* @include opacity(0.5);
* 
* 
* ************ flex center *********
* 
* @include flexCenter;
*  
*  ************ position Center ******************
*  
*  @include positionCenter;
*  
*  
* *********** clear fix  for float ************* 
*  
*  @include clearfix;
*  
*  
*  
*/
/* line 3, each/_each.scss */
.icon-facebook {
  background: url(../images/socila/facebook.png);
  height: 200px;
}

/* line 3, each/_each.scss */
.icon-twitter {
  background: url(../images/socila/twitter.png);
  height: 200px;
}

/* line 3, each/_each.scss */
.icon-instagram {
  background: url(../images/socila/instagram.png);
  height: 200px;
}

/* line 17, framework.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 21, framework.scss */
.jqvideo13 {
  background-color: aqua;
  font-weight: bolder;
}

/* line 25, framework.scss */
.jqvideo131 {
  width: 50%;
  margin: auto;
}

/* line 32, framework.scss */
.price-pug {
  font-size: 20px;
  padding: 20px;
  width: 100px;
  height: 100px;
  line-height: 50px;
  background-color: #333;
  color: #fff;
  margin: 20px auto;
  border: 3px solid #3498db;
}

/*# sourceMappingURL=framework.css.map */