@import "css3/feature-css3";
@import "mixin/mixin";
@import "./var/extend";
@import "./var/font";
@import "./var/widthHeight";
// الفكراه انو انت لو الفلوات اللى انت عاملو فى حالة استخدام الغة هيكون على حسب الديركشان
$direction: ltr;
$floatleft: left;
$floatright: right;

.video8 {
  .video81 {
    background-color: #eee;
    width: $mainWidth / 4;

    float: left;
    border: 1px solid #3498db;
  }
  .video82 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
  }
  .video83 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
  }
  .video84 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
  }
}
.video12 {
  .video121 {
    background-color: #eee;
    width: $mainWidth / 4;
    @include borderRadius(50px);
    float: left;
    border: 1px solid #3498db;
  }
  .video122 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
    height: 200px;
    display: block;
    @include borderRadius(50%);
  }
  .video123 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
  }
  .video124 {
    background-color: #eee;
    width: $mainWidth / 4;
    float: left;
  }
}

@if $direction == ltr {
  $floatleft: left;
  $floatright: right;
} @else {
  $floatleft: right;
  $floatright: left;
}

* {
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-size: 18px;

  font-family: $arFontFamily;
}
.fontEn {
  font-family: $enFontFamily;
  height: $mainHeightVh / 2;
}
.fontAr {
  font-family: $arFontFamily;
}
.jqvideo13 {
  background-color: aqua;
  font-weight: bolder;
  @extend %cover;
}
.jqvideo131 {
  width: 50%;
  margin: auto;
}
.jqdivvideo9 {
  @extend %cover;
}
.hossamsasstest {
  @include borderRadius(20px);
}
