//
@import "./components/color";
@import "./helpers/variables";
@import "./helpers/mixin";
@import "./components/buttons";
@import "./components/border";
@import "./layout/grid";
@import "./function/function";

// import one
@import "./pages/global";
@import "./layout/header";

// import tow
@import "./pages/homePage";

// import three
@import "./layout/footer";
@import "./layout/media";

.test {
  height: (100vh / 2);
  background-color: map-get($colors, 21);
}
.abc {
  padding: 10px == 10px;
}
