@import "./helpers/mixin";
body {
    background: #999;
}

.parent {
    width: 100%;
    height: 200px;
    background-color: #eee;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    .child {
        width: 50%;
        height: 50%;
        background-color: #27ae60;
        text-align: center;
        line-height: 100px;
        color: #e8e8e8;
        font-size: 2em;
    }
    .outSide {
        background-color: #333;
        color: #e8e8e8;
        width: 50%;
        height: 50%;
        text-align: center;
        line-height: 100px;
    }
}

.Last {
    position: relative;
    // left: 100%;
    background-color: #27ae60;
    opacity: 0;
}

.test-one,
.test-tow {
    background-color: #ccc;
    min-height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #333;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-width: 5px;
    border-style: solid;
    border-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include xs-media {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @include sm-md-media {
        display: grid;
    }
}

.test-one {
    border-color: #b8baba;
    margin-bottom: 20px;
    min-height: 300px;
}

.test-tow {
    background-color: #363636;
    color: #fafafa;
    direction: ltr;
    // &::after {
    //     content: ";";
    //     position: absolute;
    //     top: 41%;
    //     right: 10%;
    // }
}

.text-left {
    text-align: left !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.hr-style {
    height: 20px;
    margin: 20px auto;
    background-image: linear-gradient( to right, #2196f3 10%, #fff 10%, #fff 90%, #2196f3 90%, #2196f3 100%);
    width: 98%;
    @include borderRadius(5px);
}

.hr-style-one {
    height: 50px;
    width: 98%;
    margin: 20px auto;
    background-image: linear-gradient( to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include borderRadius(5px);
    &::before {
        content: "Explain || الشرح ";
        font-size: 25px;
        color: #fff;
        font-weight: bolder;
        direction: ltr;
    }
}

.hr-style-tow {
    height: 50px;
    width: 98%;
    margin: 20px auto;
    background-image: linear-gradient( to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include borderRadius(5px);
    &::before {
        content: "example || المثال ";
        font-size: 25px;
        color: #fff;
        font-weight: bolder;
        direction: ltr;
    }
}

.disc {
    color: #2196f3;
}

// explain
.explain {
    border-bottom: #ccc;
    border-right: #ccc;
    border-left: #ccc;
    border-top: #ccc;
    border-style: solid;
    min-width: 40%;
    max-width: 85%;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px px 7px #333;
    border-width: 20px;
    background: #333;
    color: #fff;
}

.ss {
    font-size: large;
}

#ulList ::marker {
    color: rgba(39, 143, 94, 0.501);
}