@import "./helpers/mixin";
// media b5
@mixin media-b5($point) {
    // 576 to Upper
    @if $point==xs {
        @media (min-width: 360px) {
            @content;
        }
    }
    // 576 to Upper
    @if $point==sm {
        @media (min-width: 576px) {
            @content;
        }
    }
    // 768 to Upper
    @if $point==md {
        @media (min-width: 768px) {
            @content;
        }
    }
    // 998 to Upper
    @if $point==lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    // 1200 to Upper
    @if $point==xlg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    // 1367 to Upper
    @if $point==xxlg {
        @media (min-width: 1566px) {
            @content;
        }
    }
}

body {
    background: #999;
    padding-bottom: 50px;
}

.parent,
.parent-element {
    width: 100%;
    height: 200px;
    background-color: #eee;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    opacity: 0;
    .child,
    .Element {
        width: 50%;
        height: 50%;
        background-color: #27ae60;
        text-align: center;
        line-height: 100px;
        color: #e8e8e8;
        font-size: 2em;
    }
    .outSide,
    .Element1 {
        background-color: #333;
        color: #e8e8e8;
        width: 50%;
        height: 50%;
        text-align: center;
        line-height: 100px;
    }
}

.Last {
    position: relative;
    // left: 100%;
    background-color: #27ae60;
    opacity: 0;
}

.test-one,
.test-tow {
    background-color: #ccc;
    min-height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #333;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-width: 5px;
    border-style: solid;
    border-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include xs-media {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @include sm-md-media {
        display: grid;
    }
}

.test-one {
    border-color: #b8baba;
    margin-bottom: 20px;
    min-height: 300px;
}

.test-tow {
    background-color: #363636;
    color: #fafafa;
    direction: ltr;
    // &::after {
    //     content: ";";
    //     position: absolute;
    //     top: 41%;
    //     right: 10%;
    // }
}

.text-left {
    text-align: left !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.hr-style {
    height: 20px;
    margin: 20px auto;
    background-image: linear-gradient( to right, #2196f3 10%, #fff 10%, #fff 90%, #2196f3 90%, #2196f3 100%);
    width: 98%;
    @include borderRadius(5px);
}

.hr-style-one {
    height: 40px;
    width: 98%;
    margin: 20px auto;
    background-image: linear-gradient( to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include borderRadius(5px);
    &::before {
        content: "Explain || الشرح ";
        font-size: 25px;
        color: #fff;
        font-weight: bolder;
        direction: ltr;
    }
}

.hr-style-tow {
    height: 40px;
    width: 98%;
    margin: 20px auto;
    background-image: linear-gradient( to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include borderRadius(5px);
    &::before {
        content: "example || المثال ";
        font-size: 25px;
        color: #fff;
        font-weight: bolder;
        direction: ltr;
    }
}

.hr-style-three {
    height: 40px;
    width: 98%;
    margin: 20px auto;
    background-image: linear-gradient( to right, #fff 10%, #2196f3 10%, #2196f3 90%, #fff 90%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include borderRadius(5px);
    &::before {
        content: "App || التطبيق  ";
        font-size: 25px;
        color: #fff;
        font-weight: bolder;
        direction: ltr;
    }
}

.disc {
    color: #2196f3;
}

// explain
.explain {
    border-bottom: #ccc;
    border-right: #ccc;
    border-left: #ccc;
    border-top: #ccc;
    border-style: solid;
    min-width: 40%;
    max-width: 85%;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px px 7px #333;
    border-width: 20px;
    background: #333;
    color: #fff;
}

.ss {
    font-size: large;
}

#ulList ::marker {
    color: rgba(39, 143, 94, 0.501);
}

button {
    width: fit-content !important;
    margin: 20px auto !important;
    display: block;
}

.btn-info {
    width: fit-content !important;
    margin: 20px auto !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

// pre & code disc html
.parent-disc-code {
    padding: 0;
    position: relative;
    width: 100%;
    pre.pre-language-html {
        position: relative;
        padding: 40px 20px 20px 20px;
        direction: ltr;
        background: #2d2d2d;
        @include borderRadius(10px);
        &::before {
            content: "HTML";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #16a085;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 10px;
            letter-spacing: 3px;
        }
        code.code-language-html {
            direction: ltr;
            color: #ccc;
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
            font-size: 1em;
            text-align: left;
            font-weight: bold;
            line-height: 1.5;
            text-transform: none;
            font-size: 16px;
            .comment {
                color: #999;
            }
            .token,
            .equal,
            .punctuation {
                color: #ccc;
            }
            .tag,
            .attr-name {
                color: #e2777a;
            }
            .attr-value,
            .token.string,
            .token.char,
            .token.regex,
            .token.variable {
                color: #7ec699;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.fdg {
    color: #000;
}

// pre & code disc css
.parent-disc-code {
    padding: 0;
    position: relative;
    width: 100%;
    pre.pre-language-css {
        position: relative;
        padding: 40px 20px 20px 20px;
        direction: ltr;
        background: #2d2d2d;
        @include borderRadius(10px);
        &::before {
            content: "CSS & SCSS";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #f83c23;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 10px;
            letter-spacing: 3px;
        }
        code.code-language-css {
            direction: ltr;
            color: #ccc;
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
            font-size: 1em;
            text-align: left;
            font-weight: bold;
            line-height: 1.5;
            text-transform: none;
            font-size: 16px;
            .comment {
                color: #9e9e9e;
            }
            .element {
                color: #7ec699;
            }
            .token {
                color: #ccc;
            }
            .property {
                color: #00bcd4;
            }
            .value {
                color: #c5b100;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
}

// pre & code disc javascript
.parent-disc-code {
    padding: 0;
    position: relative;
    width: 100%;
    pre.pre-language-javascript {
        position: relative;
        padding: 40px 20px 20px 20px;
        direction: ltr;
        background: #2d2d2d;
        @include borderRadius(10px);
        &::before {
            content: "Javascript";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #c5b100;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 10px;
            letter-spacing: 3px;
        }
        code.code-language-javascript {
            direction: ltr;
            color: #ccc;
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
            font-size: 1em;
            text-align: left;
            font-weight: bold;
            line-height: 1.5;
            text-transform: none;
            font-size: 16px;
            .comment {
                color: #a4a4a4;
            }
            .var {
                color: #2196f3;
            }
            .var-name {
                color: #5fb7ff;
            }
            .equal {
                color: #ccc;
                font-weight: bold;
                font-size: 1.1em;
            }
            .document {
                color: #5fb7ff;
            }
            .getElement {
                color: #c5b100;
            }
            .token {
                color: #ccc;
            }
            .element {
                color: #7ec699;
            }
            .jquery {
                color: #2196f3;
            }
            .on {
                color: #2196f3;
            }
            .event {
                color: #c5b100;
            }
            .childElement {
                color: #c5b100;
            }
            .function {
                color: #2196f3;
            }
            .effect {
                color: #c5b100;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-70 {
    padding-left: 70px;
}

.disc-btn {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.display-none {
    display: none;
}

.displayNone {
    display: none;
}

.outputCheck {
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    width: 100%;
    display: none;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.goToButton {
    width: 70px;
    height: 70px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #16a085;
    border-width: 6px;
    border-style: solid;
    border-top-color: rgb(172, 16, 16);
    border-right-color: rgb(161, 15, 124);
    border-bottom-color: rgb(219, 223, 20);
    border-left-color: #000;
    position: fixed;
    bottom: 100px;
    left: 0%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:hover {
        color: #fff;
    }
}

.top10 {
    top: -33%;
}

.close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #6e6e6e;
    z-index: 5000;
    position: fixed;
    top: 0px;
    color: #00bcd4;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}

.divVideo31,
.divVideo32,
.divVideo331 {
    width: 100%;
    height: 200px;
    border: 3px solid #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-break: break-all;
}

.divVideo330 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.inputVideo31,
.inputVideo32,
.selectVideo32 {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:focus {
        outline: none;
        border: none;
    }
}

.selectVideo32 {
    height: 50px;
    option {
        background: rgb(88, 88, 88);
        font-size: 20px;
        text-align: center;
        width: 100%;
        font-family: cursive;
    }
}

.textareaVideo31,
.textareaVideo32 {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}