/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* Small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* Medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* Large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 60px;
    }
    .links {
      position: relative;
      &:hover .icon span:nth-child(2) {
        width: 100%;
      }
      &:hover ul {
        display: block;
      }
      .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        span {
          background-color: #333;
          margin-bottom: 5px;
          height: 2px;
          width: 100%;
          &:nth-child(2) {
            width: 60%;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        display: none;
        z-index: 1;
        &::before {
          content: "";
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #f6f6f6 transparent;
          position: absolute;
          right: 5px;
          top: -20px;
        }
        li {
          a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #333;
            transition: var(--main-duration);
            &:hover {
              padding-left: 25px;
            }
          }
          &:not(:last-child) a {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 50px;
      color: var(--main-color);
    }
    p {
      font-size: 19px;
      line-height: 1.8;
    }
  }
}

/* End Landing Section */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    .feat {
      padding: 20px;
      text-align: center;
      i {
        color: var(--main-color);
      }
      h3 {
        font-weight: 800;
        margin: 30px 0;
      }
      p {
        line-height: 1.8;
        color: #777;
        font-size: 17px;
      }
    }
  }
}

/* End Features */
/* Start Services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    .srv {
      display: flex;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        flex-direction: column;
        text-align: center;
      }
      i {
        color: var(--main-color);
        flex-basis: 60px;
      }
      .text {
        flex: 1;
        h3 {
          margin: 0 0 20px;
        }
        p {
          color: #444;
          font-weight: 300;
          line-height: 1.6;
        }
      }
    }

    .image {
      text-align: center;
      position: relative;
      &::before {
        content: "";
        background-color: var(--secondary-color);
        width: 100px;
        height: calc(100% + 100px);
        top: -50px;
        position: absolute;
        right: 0;
        z-index: -1;
      }
      img {
        width: 260px;
      }
      @media (max-width: 1199px) {
        display: none;
      }
    }
  }
}

/* Start Services  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
    .card {
      background-color: white;
      img {
        max-width: 100%;
      }
      .info {
        padding: 20px;

        h3 {
          margin: 0;
        }
        p {
          color: #777;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }
    }
  }
}

/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
  .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;
    }
    .image {
      position: relative;
      width: 250px;
      height: 375px;
      @media (max-width: 991px) {
        margin: 0 auto 60px;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 100px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index: -1;
      }
      &::after {
        top: -40px;
        content: "";
        position: absolute;
        width: 120px;
        height: 300px;
        border-left: 80px solid var(--main-color);
        border-bottom: 80px solid var(--main-color);
        z-index: -1;
        right: -150px;
      }
      @media (max-width: 991px) {
        &::before,
        &::after {
          display: none;
        }
      }
      img {
        max-width: 100%;
      }
    }
    .text {
      flex-basis: calc(100% - 500px);
      p:first-of-type {
        font-weight: bold;
        line-height: 2;
        margin-bottom: 50px;
      }
      hr {
        width: 50%;
        display: inline-block;
        border-color: var(--main-color);
      }
      p:last-of-type {
        line-height: 2;
        color: #777;
      }
    }
  }
}

/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  span {
    font-weight: bold;
    color: var(--main-color);
  }
}

/* End Footer */
