* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

img {
    width: 33%;
    height: 300px;
}

button {
    width: fit-content;
    background: #333;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid #999;
}

// parent-all
.parent-all {
    background-color: #fff;
    height: 100vh;
    position: relative;
    .single-item {
        height: 500px;
        border: 3px solid #333;
        width: 33.3333%;
        margin: 0 10px;
        padding: 20px;
        text-align: center;
        img.single-img {
            width: 100%;
            height: 60%;
            display: block;
            margin-bottom: 30px;
        }
        .disc-img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #999;
            height: 20%;
        }
        // a
        .download {
            width: fit-content;
            background: #333;
            padding: 15px 30px;
            border-radius: 5px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            border: 2px solid #999;
            margin: 20px auto;
            display: block;
        }
    }
}