mixin skillList
  ul(class="list-unstyled")
    li html 
      ul 
        li pugjs 
    li css 
      ul 
        li scss 
    li javascript 
      ul 
        li jquery 
        li dom 
        li bom 
        li vuejs 
    li bootstrap 
    li this is #{bold}
    li this is !{bold}
//- المكسان دى جاتلى فاكرة انو انا استخدمها فى اماكن كتير و الكلام بيتغير فى كل مكان استدعيها فيها 
mixin price(globalPrice)
  div(class="price-pug")= globalPrice