//- JQuery
script(src="https://hossamrashad.github.io/libraries/js/JQuery/jquery-3-6-0.min.js")

//- bootstrap
script(src="https://hossamrashad.github.io/libraries/js/bootstrap/bootstrap-5.0.1-min.js")

//- wow
script(src="https://hossamrashad.github.io/libraries/js/wow/wow.min.js")

//- owl
script(src="https://hossamrashad.github.io/libraries/js/owl/jquery.mousewheel.min.js")
script(src="https://hossamrashad.github.io/libraries/js/owl/owl.carousel.min.js")

//- magnific
script(src="https://hossamrashad.github.io/libraries/js/magnific/jquery.magnific-popup.js")

//- Show-And-Hide-box
script(src="https://hossamrashad.github.io/libraries/js/Show-And-Hide-box/jquery.expandable.js")

//- gmaps
script(src="http://maps.google.com/maps/api/js")
script(src="https://hossamrashad.github.io/libraries/js/gmap/gmaps.min.js")

//- Nivo slide
script(src="https://hossamrashad.github.io/libraries/js/nivo-slider/jquery.nivo.slider.pack.js")
script(src="https://hossamrashad.github.io/libraries/js/nivo-slider/jquery.nivo.slider.js")

//- snake
script(src="https://hossamrashad.github.io/libraries/js/snake/snake.min.js")

//- typed
script(src="https://hossamrashad.github.io/libraries/js/typedjs/typed.min.js")

//- Mixitup
script(src="https://hossamrashad.github.io/libraries/js/filter/mixitup.min.js")

//- countTo
script(src="https://hossamrashad.github.io/libraries/js/countTo/jquery.countTo.js")

//- fittext
script(src="https://hossamrashad.github.io/libraries/js/fittext/jquery.fittext.js")

//- Plugin Work 
//- script(src="js/plugin-work.js")

//- My Tools
//- script(src="js/tools.js")