// borderRadius
// @include borderRadius(5px);
@mixin borderRadius($number) {
  border-radius: $number;
  -webkit-border-radius: $number;
  -moz-border-radius: $number;
  -ms-border-radius: $number;
  -o-border-radius: $number;
}
// transition
// @include transition(0.5s);
@mixin transition($number) {
  transition: all $number ease-in-out;
  -webkit-transition: all $number ease-in-out;
  -moz-transition: all $number ease-in-out;
  -ms-transition: all $number ease-in-out;
  -o-transition: all $number ease-in-out;
}
// hover
// @include hover {}
@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
// ul
// @include horizontal-list;
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
//  box-shadow: horizontal     |  vertical     |  blur | spread | color | inset
//  box-shadow: right + left   |  top + button |  blur | spread | color | inset

//  @include boxShadow(-1px, 0px, 10px, #000);
@mixin boxShadow($right, $button, $spread, $color) {
  -o-box-shadow: $right $button $spread $color;
  -ms-box-shadow: $right $button $spread $color;
  box-shadow: $right $button $spread $color;
}

// media
// @media(max-width:767px){};   xs   || mobile
// @media(min-width:768px){};   sm
// @media(max-width:991 px){};  md
// @media(min-width:992px){};   md
// @media(min-width:1200px){};  lg
@mixin xsmedia {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin smmedia {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin mdmedia {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lgmedia {
  @media (min-width: 1200px) {
    @content;
  }
}

// overlay
@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// prefix
// @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
@mixin prefixer($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// animation
@mixin KeyFrame($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// opacity
//  @include opacity(0.5);
@mixin opacity($value) {
  zoom: 1;
  $opacity-ie: $value * 100;
  filter: alpha(opacity = $opacity-ie);
  -webkit-filter: alpha(opacity = $opacity-ie);
  opacity: $value;
}

// element center
// @include flexCenter;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// clearfix
// clear float
// @include clearfix;
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// grid
//@include grid-left;

@mixin grid-left($cols, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;

  width: ((100% - (($cols - 1) * $mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
//@include grid-right;

@mixin grid-right($cols, $mgn) {
  float: right;
  margin-left: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($cols - 1) * $mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-left: 0;
  }
}

// media
// @include mq(767px) {}
// @include mq(1500px, 1900px) {}
@mixin mq($arg...) {
  @if length($arg) ==1 {
    @media screen and (max-width: nth($arg , 1  )) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg , 1 )) and (max-width: nth($arg , 2 )) {
      @content;
    }
  }
}
