// borderRadius
// @include borderRadius(5px);
@mixin borderRadius($number) {
  border-radius: $number;
  -webkit-border-radius: $number;
  -moz-border-radius: $number;
  -ms-border-radius: $number;
  -o-border-radius: $number;
}
// transition
// @include transition(0.5s);
@mixin transition($number) {
  transition: all $number ease-in-out;
  -webkit-transition: all $number ease-in-out;
  -moz-transition: all $number ease-in-out;
  -ms-transition: all $number ease-in-out;
  -o-transition: all $number ease-in-out;
}

// scale
// @include scale(1.5, 1.5);
@mixin scale($width, $height) {
  transform: scale($width, $height);
  -webkit-transform: scale($width, $height);
  -moz-transform: scale($width, $height);
  -ms-transform: scale($width, $height);
  -o-transform: scale($width, $height);
}
@mixin scaleX($width) {
  transform: scaleX($width);
  -webkit-transform: scaleX($width);
  -moz-transform: scaleX($width);
  -ms-transform: scaleX($width);
  -o-transform: scaleX($width);
}
@mixin scaleY($height) {
  transform: scaleY($height);
  -webkit-transform: scaleY($height);
  -moz-transform: scaleY($height);
  -ms-transform: scaleY($height);
  -o-transform: scaleY($height);
}
// rotate
// @include rotate(10deg);
@mixin rotate($number) {
  transform: rotate($number);
  -webkit-transform: rotate($number);
  -moz-transform: rotate($number);
  -ms-transform: rotate($number);
  -o-transform: rotate($number);
}
@mixin rotateY($number) {
  transform: rotateY($number);
  -webkit-transform: rotateY($number);
  -moz-transform: rotateY($number);
  -ms-transform: rotateY($number);
  -o-transform: rotateY($number);
}
@mixin rotateX($number) {
  transform: rotateX($number);
  -webkit-transform: rotateX($number);
  -moz-transform: rotateX($number);
  -ms-transform: rotateX($number);
  -o-transform: rotateX($number);
}
@mixin rotateZ($number) {
  transform: rotateZ($number);
  -webkit-transform: rotateZ($number);
  -moz-transform: rotateZ($number);
  -ms-transform: rotateZ($number);
  -o-transform: rotateZ($number);
}
// skew
// @include skew(10px, 10px);
@mixin skew($width, $height) {
  transform: skew($width, $height);
  -webkit-transform: skew($width, $height);
  -moz-transform: skew($width, $height);
  -ms-transform: skew($width, $height);
  -o-transform: skew($width, $height);
}
@mixin skewX($width) {
  transform: skewX($width);
  -webkit-transform: skewX($width);
  -moz-transform: skewX($width);
  -ms-transform: skewX($width);
  -o-transform: skewX($width);
}
@mixin skewY($height) {
  transform: skewY($height);
  -webkit-transform: skewY($height);
  -moz-transform: skewY($height);
  -ms-transform: skewY($height);
  -o-transform: skewY($height);
}
// $translateX, $translateY, $scaleX, $skewY, $skewX ,$scaleY
// @include matrix( 1, 0, 0, 1, 0, 0 );
@mixin matrix($translateX, $translateY, $scaleX, $skewY, $skewX, $scaleY) {
  transform: matrix($translateX, $translateY, $scaleX, $skewY, $skewX, $scaleY);
  -webkit-transform: matrix(
    $translateX,
    $translateY,
    $scaleX,
    $skewY,
    $skewX,
    $scaleY
  );
  -moz-transform: matrix(
    $translateX,
    $translateY,
    $scaleX,
    $skewY,
    $skewX,
    $scaleY
  );
  -ms-transform: matrix(
    $translateX,
    $translateY,
    $scaleX,
    $skewY,
    $skewX,
    $scaleY
  );
  -o-transform: matrix(
    $translateX,
    $translateY,
    $scaleX,
    $skewY,
    $skewX,
    $scaleY
  );
}
// hover
// @include hover {}
@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
// ul
// @include horizontal-list;
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
//  box-shadow: horizontal     |  vertical     |  blur | spread | color | inset
//  box-shadow: right + left   |  top + button |  blur | spread | color | inset

//  @include boxShadow(-1px, 0px, 10px, #000);
@mixin boxShadow($right, $button, $spread, $color) {
  -o-box-shadow: $right $button $spread $color;
  -ms-box-shadow: $right $button $spread $color;
  box-shadow: $right $button $spread $color;
}

// media
// @media(max-width:767px){};   xs   || mobile
// @media(min-width:768px){};   sm
// @media(max-width:991 px){};  md
// @media(min-width:992px){};   md
// @media(min-width:1200px){};  lg
@mixin xs-media {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin sm-media {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md-media {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lg-media {
  @media (min-width: 1200px) {
    @content;
  }
}

// overlay
@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// prefix
// @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// animation
@mixin KeyFrame($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// opacity
//  @include opacity(0.5);
@mixin opacity($value) {
  zoom: 1;
  $opacity-ie: $value * 100;
  filter: alpha(opacity = $opacity-ie);
  -webkit-filter: alpha(opacity = $opacity-ie);
  opacity: $value;
}

// element center
// @include flexCenter;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// clearfix
// clear float
// @include clearfix;
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// grid
//@include grid-left;

@mixin grid-left($cols, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;

  width: ((100% - (($cols - 1) * $mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
//@include grid-right;

@mixin grid-right($cols, $mgn) {
  float: right;
  margin-left: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($cols - 1) * $mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-left: 0;
  }
}

// media
// @include mq(767px) {}
// @include mq(1500px, 1900px) {}
@mixin mq($arg...) {
  @if length($arg) ==1 {
    @media screen and (max-width: nth($arg , 1  )) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg , 1 )) and (max-width: nth($arg , 2 )) {
      @content;
    }
  }
}
// translate
// @include translate(10px, 10px);
@mixin translate($width, $height) {
  transform: translate($width, $height);
  -webkit-transform: translate($width, $height);
  -moz-transform: translate($width, $height);
  -ms-transform: translate($width, $height);
  -o-transform: translate($width, $height);
}
@mixin translateX($width) {
  transform: translateX($width);
  -webkit-transform: translateX($width);
  -moz-transform: translateX($width);
  -ms-transform: translateX($width);
  -o-transform: translateX($width);
}
@mixin translateY($height) {
  transform: translateY($height);
  -webkit-transform: translateY($height);
  -moz-transform: translateY($height);
  -ms-transform: translateY($height);
  -o-transform: translateY($height);
}
