// Font Size
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;
$font-page: 16px;

// EN Font Family

$arFontFamily: "Droid Arabic Kufi";
$cairo-Font: "cairo";

// EN Font Family

$enFontFamily: "Tahoma, Arial";

// width

$main-width100: 100%;
$main-height100: 100%;
$main-height100Vh: 100vh;

// direction

$dir-ltr: ltr;
$dir-rtl: rtl;

// text align

$text-align-center: center;
$text-align-right: right;
$text-align-left: left;

// float

$float-left: left;
$float-right: right;
