// Font Size
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;
$font-page: 16px;

// EN Font Family

$arFontFamily: "Droid Arabic Kufi";

$cairoFont: "cairo";

// EN Font Family

$enFontFamily: "Tahoma, Arial";

// width

$mainWidth: 100%;

$mainHeight: 100%;

$mainHeightVh: 100vh;

// color

$maincolor: #3498db;

$textcolor: #9c9c9c;
