//
.element-with-border {
  position: relative;

  .inner {
    background-color: map-get($colors, 21);

    text-align: center;

    color: #fff;

    margin: 40px auto;

    @include borderRadius(15px);

    width: 300px;

    padding: 10px 15px;

    &:before {
      content: "";

      width: 100%;

      height: 1px;

      background-color: map-get($colors, 500);

      position: absolute;

      left: 0;

      top: 50%;

      z-index: -1;
    }
  }
}
