.fixed-menu-icon {
    z-index: 99999;
    position: relative;
    i {
        background-color: map-get($colors, 49);
        color: $cavarley-logo;
        position: fixed;
        right: 30px;
        top: 100px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        z-index: 9999;
        background-color: transparent;
        @include transition(0.5s);
        @include borderRadius(10px);
        @include hover {
            background-color: white;
        }
    }
}
.fixed-menu {
    background-color: $cavarley-color;
    color: #fff;
    padding: 50px 10px;
    position: fixed;
    right: 0px;
    top: 20%;
    height: 50%;
    width: 170px;
    z-index: 9999;
    @include opacity(0);
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}
