@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Changa:wght@200;300;400;500;600;700;800&family=El+Messiri:wght@400;500;600;700&family=Lateef&family=Markazi+Text:wght@400;500;600;700&family=Mirza:wght@400;500;600;700&family=Scheherazade:wght@400;700&family=Short+Stack&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

$font-cairo: "Cairo", sans-serif;
$font-ar-1: "Short Stack", cursive;
$font-ar-2: "Tajawal", sans-serif;
$font-ar-3: "Markazi Text", serif;
$font-ar-4: "El Messiri", sans-serif;
$font-ar-5: "Changa", sans-serif;
$font-ar-6: "Mirza", cursive;
$font-ar-7: "Lateef", cursive;
$font-ar-8: "Scheherazade", serif;
