@mixin borderRadius($number) {
  border-radius: $number;
  -webkit-border-radius: $number;
  -moz-border-radius: $number;
  -ms-border-radius: $number;
  -o-border-radius: $number;
}

@mixin transition($number) {
  transition: all $number ease-in-out;
  -webkit-transition: all $number ease-in-out;
  -moz-transition: all $number ease-in-out;
  -ms-transition: all $number ease-in-out;
  -o-transition: all $number ease-in-out;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
/* ul */
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
//  box-shadow: horizontal     |  vertical     |  blur | spread | color | inset
//  box-shadow: right + left   |  top + button |  blur | spread | color | inset

@mixin boxShadow($right, $button, $spread, $color) {
  -o-box-shadow: $right $button $spread $color;
  -ms-box-shadow: $right $button $spread $color;
  box-shadow: $right $button $spread $color;
}
